.mat-drawer {
  top: 0px;
  bottom: 0px;
  box-shadow: none;
  visibility: hidden;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-icon {
  padding: 0 14px;
}

.btnMenu {
  margin-right: 20px;
}
.btnHome{float: left; margin-right: 10px;}